{% extends '@MorphView/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ morph_block_render('cms.stylesheets.page.edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ morph_block_render('cms.javascripts.page.edit') }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Edit {{ page.name }}</h2>
                </div>
            </div>
            <block :content-blocks="{{ contentBlocks|json_encode }}"
                   :content-types="{{ contentTypes|json_encode }}"
                   :page="{{ page.vueData|json_encode }}"/>
        </div>
    </div>
{% endblock page_content %}
